{% extends 'base.html' %}

{% block content %}
  <!-- Раздел со стоимостью -->
  <div class="mt-5">
    <h3 class="text-center">Сколько стоит?</h3>
  </div>

  <div class="d-flex justify-content-center mt-5 mb-5">
    <div class="col col-3 shadow bg bg-light" style="border-radius: 10px;">
      <div class="d-flex justify-content-center">
        <h4 class="mt-3">Ламинирование<hr></h4>
      </div>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>Ламинирование</td>
            <td>1500</td>
          </tr>
          <tr>
            <td>Ламинирование + коррекция</td>
            <td>1700</td>
          </tr>
          <tr>
            <td>Ламинирование + окрашивание</td>
            <td>1700</td>
          </tr>
          <tr>
            <td>Ламинирование + коррекция + окрашивание</td>
            <td>1900</td>
          </tr>
          <tr>
            <td>Протеиновое восстановление</td>
            <td>1700</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col col-3 ml-4 shadow bg bg-light" style="border-radius: 10px;">
      <div class="d-flex justify-content-center">
        <h4 class="mt-3">Оформление<hr></h4>
      </div>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>Коррекция бровей пинцетом</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Окрашивание бровей</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Архитектура + окрашивание</td>
            <td>800</td>
          </tr>
          <tr>
            <td>Эпиляция над губой</td>
            <td>250</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col col-3 ml-4 bg bg-light shadow" style="border-radius: 10px;">
      <div class="d-flex justify-content-center">
        <h4 class="mt-3">Осветление<hr></h4>
      </div>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>Осветление</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Осветление + коррекция</td>
            <td>800</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}